<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elixir Phoenix Tetris!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">

      <%= @inner %>

    </div> <!-- /container -->
    <footer>
      <div class='container'>
        <p>Based on and expanded from Josh Adams' ElixirEU 2015 talk http://www.elixirconf.eu/elixirconf2015/josh-adams, Josh's code: https://github.com/knewter/elixirconfeu_tetris</p>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
