<h2>Two Player Tetris using Elixir Phoenix</h2>
<div class='row'>
  <div class='col-xs-6'>
    <h3>You</h3>
    <canvas id='your-canvas' width="500" height="1000"></canvas>
  </div>
  <div class='col-xs-6'>
    <h3>Opponent</h3>
    <canvas id='opponent-canvas' width="500" height="1000"></canvas>
  </div>
</div>

